@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bowlby+One+SC|Coustard');
*{
font-family:  'Coustard', serif;
}
h1{
  padding: 10%;
  margin: 0% auto;
  width: 312px;
  height: 42px;
  margin-left: -23px;
}


  section{
    padding: 5%;
    margin: 10% auto;
    height: 250px;
    width: 350px;
    background-color: rgb(247, 126, 142);
    border-radius: 100px;
}
input{
  margin-top: 5%;
  width: 150px;
  height: 50px;
  color: rgb(0, 0, 0);
  background: rgba(238, 77, 131, 0.651);
  border: none;
  border-radius: 15px;
  align-content: center;
  font-size: 150%;
}
button{
  margin-top: 5%;
  width: 150px;
  height: 50px;
  color: rgb(0, 0, 0);
  background: rgb(233, 12, 78);
  border: none;
  border-radius: 15px;
  font-size: 120%;
}



